#!/usr/bin/env python
PACKAGE = "flir_gige"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# name / type / level / description / default / min / max
# Flir A35 has a maximum resolution of 320 x 256
gen.add("thresh_window", int_t, 0,
        "adaptive threshold window size", 11, 3, 100)
size_enum = gen.enum([gen.const("mean", int_t, 0, "Adaptive thresh mean"),
                      gen.const("gaussian", int_t, 1, "Adaptive thresh gaussian")],
                     "Adaptive thresh type ")
gen.add("thresh_type", int_t, 0,
        "Adaptive thresh type", 0, 0, 1, edit_method=size_enum)

exit(gen.generate(PACKAGE, "flir_gige", "CalibProcDyn"))
