#!/usr/bin/env python
PACKAGE = "flir_gige"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("fps", double_t, 0, "frame per second", 20, 1, 60)
gen.add("raw", bool_t, 0, "Raw 14-bit data", False)

exit(gen.generate(PACKAGE, "flir_gige", "FlirDyn"))
