#!/usr/bin/env python
PACKAGE = "flir_gige"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# name / type / level / description / default / min / max
# Flir A35 has a maximum resolution of 320 x 256
gen.add("celsius_min", double_t, 0, "min temperature", 20, 0, 70)
gen.add("celsius_max", double_t, 0, "max temperature", 40, 0, 70)

exit(gen.generate(PACKAGE, "flir_gige", "ThermalProcDyn"))
