<launch>
    <!-- Camera Settings -->
    <arg name="ip_address" default="192.168.1.11"/>
    <arg name="frame_id" default="flir_gige"/>
    <arg name="camera" default="flir_gige"/>
    <arg name="calib_url"
        default="package://flir_gige/calib/calib_$(arg camera).yml"/>
    <arg name="fps" default="20.0"/>
    <arg name="raw" default="false"/>

    <!-- Node Settings -->
    <arg name="output" default="screen"/>
    <arg name="respawn" default="false"/>
    <arg name="proc" default="false"/>
    <arg name="view" default="false"/>
    <arg name="calib" default="false"/>

    <!-- Node -->
    <node pkg="flir_gige" type="flir_gige_node" name="$(arg camera)"
        respawn="$(arg respawn)" output="$(arg output)">
        <param name="identifier" type="string" value="$(arg ip_address)"/>
        <param name="frame_id" type="string" value="$(arg frame_id)"/>
        <param name="camera" type="string" value="$(arg camera)"/>
        <param name="calib_url" type="string" value="$(arg calib_url)"/>
        <param name="fps" type="double" value="$(arg fps)"/>
        <param name="raw" type="bool" value="$(arg raw)"/>
    </node>

    <!-- View -->
    <arg name="image" default="raw"/>
    <node if="$(arg view)" pkg="image_view" type="image_view"
        name="$(arg camera)_$(arg view)" output="$(arg output)"
        args="image:=/$(arg camera)/image_$(arg image)">
    </node>

    <!-- Calib -->
    <group if="$(arg calib)">
        <arg name="pattern" default="chessboard"/>
        <arg name="size"/>
        <arg name="square"/>
        <node pkg="camera_calibration" type="cameracalibrator.py"
            name="calibrator" output="screen"
            args="-p $(arg pattern) -s $(arg size) -q $(arg square)
            image:=/$(arg camera)/image_raw camera:=/$(arg camera)">
        </node>
    </group>
</launch>
